{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json" // where our typescript configuration is
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended", // disable some not necessary rules that typescript renders unnecessary
    "plugin:@typescript-eslint/recommended",
    "prettier" // "prettier/@typescript-eslint(merged into prettier) is able to disable rules from typescript-eslint that are not necessary
  ],
  "rules": {
    "strict": ["error", "never"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
